#page-register {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
}

#page-register .logo {
    display: none;
}

#page-register main {
    width: 100%;
    height: 100%;

    margin: 0 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-register main a {
    margin-top: 2.4rem;
}

#page-register main form p {
    font-size: 1.8rem;
    width: 260px;
    margin-top: 1.6rem;
    margin-bottom: 3.6rem;
}

#page-register main form .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-register main form .input-group a {
    color: var(--color-text-complement);
    display: flex;
    font: 400 1.6rem Poppins;

    cursor: pointer;
    text-decoration: none;
}

#page-register main form .input-group a:hover {
    color: var(--color-primary);
}

#page-register main form h1 {
    font: 700 3.6rem Poppins;
    color: var(--color-text-title);
    line-height: 3.6rem;
}

#page-register main form button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    transition: background-color 0.2s;

    margin-top: 4rem;
    margin-bottom: 2.4rem;
}

#page-register main form button:disabled {
    background: #DCDCE5;
    color: #9C98A6;
}

#page-register main form footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#page-register main form footer span.register {
    color: var(--color-text-base);
}

#page-register main form footer span.register a {
    display: flex;
    font: 600 1.6rem Poppins;
    color: var(--color-primary);

    cursor: pointer;
    text-decoration: none;
}

#page-register main form footer span.forFree {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 1.4rem;
    color: var(--color-text-complement);
}

#page-register main form footer span.forFree img {
    margin-left: 0.8rem;
}

@media (min-width: 900px) {
    #page-register .logo {
        width: 100%;
        height: 100%;

        background: var(--color-primary);
        background-image: url("../../assets/images/success-background.svg");
        background-repeat: no-repeat;
        background-position: center center;

        color: var(--color-text-in-primary);

        display: flex;
        justify-content: center;
    }

    #page-register .logo .logo-container {
        grid-area: logo;
        align-self: center;
        text-align: left;
        margin: 0;
    }

    #page-register .logo .logo-container img {
        height: 100%;
        width: initial;
    }

    #page-register main {
        width: 60%;
        margin: 0 8rem;
    }

    #page-register main form button {
        margin-bottom: 12.8rem;
    }
}
