.input-block {
    position: relative;

    display: flex;
    flex-direction: column-reverse;
}

.input-block + .input-block {
    margin-top: 1.4rem;
}

.input-block label {
    font-size: 1.4rem;
}

.input-block input {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.input-block input[disabled] {
    background: var(--color-line-in-white);
}

.input-block:focus-within::after {
    height: 2px;
    width: calc(100% - 3.2rem);

    content: '';
    background: var(--color-primary-light);
    position: absolute;

    top: initial;
    bottom: 0;
    left: 1.6rem;
    right: 1.6rem;
}

.input-stacked:focus-within::after {
    height: calc(100% - 3.2rem);
    width: 2px;

    content: '';
    background: var(--color-primary-light);
    position: absolute;

    bottom: 0.6rem;
    top: 1.6rem;
    left: 1px;
    right: initial;
}

.input-stacked {
    position: relative;
    margin: 0;
}

.input-stacked input {
    margin: 0;
    border-radius: 0;
}

.input-stacked ::placeholder {
    transition: inherit;
    opacity: 0;
}

.input-stacked label {
    position: absolute;
    top: 20px;
    left: 15px;
    transition: all .2s linear;
}

.input-stacked input:not(:placeholder-shown) + label,
.input-stacked:focus-within label {
    top: 5px;
    font-size: 1.2rem;
    color: var(--color-text-complement);
}

.input-stacked + .input-stacked { margin-top: 0; }

.input-stacked:first-of-type {
    margin-top: 1.4rem;
}

.input-stacked:first-of-type input {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.input-stacked:last-of-type {
    margin-bottom: 1.4rem;
}

.input-stacked:last-of-type input {
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}
